@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply text-center text-black dark:text-white;
}
body {
    @apply bg-white dark:bg-dark-secondary;
}

input {
    @apply bg-secondary dark:bg-dark-secondary p-2 outline-none focus:outline-none;
}

button {
    @apply p-2 bg-secondary dark:bg-dark-secondary text-black dark:text-white m-2 rounded-md hover:rounded-xl transition-all;
}

.opaque {
    @apply text-base text-gray-400;
}

h1 {
    @apply font-bold text-xl;
}

.thumbnail {
    @apply rounded-t-lg transition-all aspect-video;
}

.config-preview-content {
    @apply m-4 items-center justify-center;
}

h2 {
    @apply font-semibold text-lg;
}

button.special {
    @apply rounded-md bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 mt-2 transition-all;
}

.barlow-condensed-thin {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .barlow-condensed-extralight {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .barlow-condensed-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-condensed-medium {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-condensed-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .barlow-condensed-bold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .barlow-condensed-extrabold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .barlow-condensed-black {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .barlow-condensed-thin-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .barlow-condensed-extralight-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .barlow-condensed-light-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-condensed-regular-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .barlow-condensed-medium-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .barlow-condensed-semibold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .barlow-condensed-bold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .barlow-condensed-extrabold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .barlow-condensed-black-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  